
@font-face {
    font-family:cholk;
    src: url(./EraserRegular.ttf);
}
@font-face {
    font-family:Loral;
    src: url(./Lora-SemiBold.ttf);
}

@font-face {
    font-family:shark;
    src: url(./Shrikhand-Regular.ttf);
}

@font-face {
    font-family:nine;
    src: url(./NineByFiveNbp-MypB.ttf);
}

@keyframes blink {
    0%{
        
        box-shadow: 0px 0px 30px 10px auto;
        
    }
    50%{
        
        box-shadow: 0px 0px 0px 0px transparent;
    }
    100%{
        
        box-shadow: 0px 0px 30px 10px auto;
        
    }

}





.header{
    background:rgb(53, 53, 53);
    color:lightblue;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    font-size:90px;
    border-bottom:3px solid black;
    margin:0px;
    padding:0px;
    height:20vh;
    font-family:nine;
    z-index:1000000;
    text-align:center;
}

.Rheader{
    background:#141d2b;
    color:#a0f002;
    position:absolute;
    top:0px;
    left:0px;
    width:98vw;
    font-size:100px;
    border-bottom:3px solid #a0f002;
    margin:0px;
    padding:0px;
    height:auto;
    font-family:shark;
    z-index:1000000;
    padding-bottom:20px;
}

.Rheaderimg{
    position:absolute;
    left:600px;
    font-size:100px;
    margin:0px;
    padding:0px;
    font-family:shark;
    z-index:1000001;
    height:130px;
    margin:auto;
}

.theader{
    color:white;
    position:absolute;
    top:0px;
    left:0px;
    width:98vw;
    font-size:100px;
    margin:0px;
    padding:0px;
    height:20vh;
    font-family:shark;
    z-index:1000000;
    padding-bottom:20px;
    text-align:center;
}


.nheader{
    color:#edc663;
    position:absolute;
    background:transparent;
    top:0px;
    left:0px;
    width:98vw;
    font-size:50px;
    margin:0px;
    padding:0px;
    font-family:shark;
    z-index:1000000;
    padding-top:auto;
    text-align:center;
    
}

.Wheader{
    color:lightblue;
    position:absolute;
    top:0px;
    left:0px;
    width:98vw;
    font-size:50px;
    object-fit:99vw;
    margin:0px;
    padding:0px;
    font-family:shark;
    z-index:1000001;
    padding-top:auto;
    text-align:center;
    
}

#Wbackgroundimg{
    
    position:absolute;
    width:98vw;
    height:auto;
    top:0px;
    object-fit:80vw;
    left:0px;
    margin:0px;
    padding:0px;
    z-index:-10000000000000000000;
}

.cheader{
    background:#557180;
    border-bottom:0px solid ;
    color:yellow;
    position:absolute;
    top:0px;
    left:0px;
    width:98vw;
    font-size:50px;
    margin:0px;
    padding:0px;
    font-family:shark;
    z-index:1000000;
    padding-top:auto;
    text-align:center;
    
}

.nbody{
    background:transparent;
    color:#edc663;
    border:3px transparent #00ff38;
    position:relative;
    top: -15px;
    left:0px;
    margin:0px;
    padding:0px;
    margin-top:50px;
    text-align:center;
    font-family:Loral;
}

.body{
    background:#c86000;
    color:#8d16a8;
    position:relative;
    top:121px;
    left:0px;
    width:auto;
    margin:0px;
    text-align:center;
    font-family:Loral;
}

.Rbody{
    background:#141d2b;
    color:#a0f002;
    position:relative;
    top:151px;
    left:0px;
    margin:0px;
    text-align:center;
    font-family:nine;
    width:80vw;
    margin:auto;
    font-size:30px;
}

.tbody{
    color:white;
    position:relative;
    top:151px;
    left:0px;
    margin:0px;
    text-align:center;
    font-family:nine;
    width:98vw;
    font-size:30px;
}

.cbody{
    color:yellow;
    position:relative;
    top:151px;
    left:0px;
    margin:0px;
    text-align:center;
    font-family:nine;
    width:98vw;
    padding:0px;
    margin:auto;
    font-size:30px;
}

.Wbody{
    color:lightblue;
    position:relative;
    top:121px;
    left:0px;
    object-fit:90vw;
    margin:0px;
    width:98vw;
    padding:0px;
    text-align:center;
    font-family:Loral;
}

.Wbackground{
    background:rgb(53, 53, 53);
    width:98vw;
    height:100vh;
    position:inherit;
    object-fit:100vw;
    margin:0px;
    padding:0px;
    bottom:100vh;
    left:0px;
    z-index:-9;
    opacity: 0.50;
}

.background{
    background:black;
    width:98vw;
    height:100vh;
    position:absolute;
    object-fit:100vw;
    margin:0px;
    padding:0px;
    top:0px;
    left:0px;
    z-index:-9;
    opacity: 0.50;
}

button{
    color:white;
    border:3px solid black;
    width:10vw;
    height:70vh;
    margin:0px;
    position:relative;
    left:20px;
    top:0px;
    margin-left:5px;
    text-align:center;
    font-family:Loral;
}

#Rbutton{
    color:#a0f002;
    background:#0f141d;
    border:3px solid black;
    margin:100px;
    margin-top:130px;
    width:auto;
    position:inherit;
    left:20px;
    top:90vh;
    text-align:center;
    font-family:nine;
    height:auto;
    z-index:99999999999999999999;
    font-size:60px;
}

#Cbutton{
    color:yellow;
    background:#557180;
    border:3px solid black;
    margin:100px;
    top:140px;
    position:relative;
    text-align:center;
    font-family:nine;
    width:auto;
    height:auto;
    z-index:99999999999999999999;
    font-size:40px;
}


.tbutton{
    color:white;
    background:rgb(128, 44, 14);
    border:3px solid black;
    margin:200px;
    position:inherit;
    margin-bottom:0px;
    left:0px;
    margin-right:0px;
    width:auto;
    top:190px;;
    text-align:center;
    font-family:nine;
    height:auto;
    z-index:99999999999999999999;
    font-size:40px;
}

#nbutton{
    color:#141d2b;
    background:#edc663;
    border:3px solid #141d2b;
    margin:0px;
    position:relative;
    left:20px;
    top:5vh;
    width:auto;
    text-align:center;
    font-family:nine;
    height:auto;
    z-index:99999999999999999999;
    font-size:40px;
}

#whole{
    width:95vw;
    z-index:-1;
    height:2000px;
    margin-bottom:1000px;
    background:black;
    position:absolute;
    left:10px;
    top:140px;
    

}

#revue{
    left:0px;
    color:white;
    top:33px;
    background:green;
    border-left:5px solid black;
}

#tectonic{
    left:0px;
    top:25px;
    color:white;
    background:red;
    border-left:5px solid black;
}

#north{
    left:2px;
    top:39px;
    color:white;
    background:blue;
    border-left:5px solid black;
}

#Climate{
    left:0px;
    top:39px;
    color:white;
    background:rgb(189, 0, 173);
    border-left:5px solid black;
}

#Wbutton{
    
    color:rgb(53, 53, 53);
    background:lightblue;
    box-shadow:white 1px 0 10px;
    border:3px solid black;
    margin:100px;
    position:inherit;
    left:0px;
    top:120%;
    text-align:center;
    font-family:shark;
    width:auto;
    height:auto;
    z-index:99999999999999999999;
    font-size:40px;


}

#War{
    left:0px;
    top:39px;
    color:white;
    background:orange;
    border-left:5px solid black;
}

.timg{
    z-index:-99999;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    height:100vh;
    width:98vw;
}

.cimg{
    z-index:-99999;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    height:98vw;
    width:98vw;
}

.back{
    z-index:-99998;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    height:98vw;
    width:98vw;
}

.server{
    left:2px;
    bottom:100px;
    margin-bottom:100px;
    position:inherit;
    width:100px;
    height:470px;
    color:lightblue;
    background:gray;
    border-left:5px solid black;
}

.decor{
    animation: blink 0.5s linear 0s infinite;
    border-radius:1000000000000000000px;
    border:3px solid black;
    width:1vw;
    position:absolute;
    height:1vw;
    left:10px;
    top:10px;
}



.ethernet{
    position:absolute;
    height:70px;
    width:auto;
    z-index:100000000000000000000000000;
    left:10px;
    top:56px;

}

.nbackground{
    border:3px solid #edc663;
    top:0px;
    position:inherit;
    margin:0px;
    padding:0px;
    height:fit-content;
    background:transparent;
    color:#edc663;
    left:0px;
    margin-top:80px;
    padding-top:100px;
    text-align:center;
    font-family:Loral;
}

#Wbody {
    height:auto;
    width: 98%;
    margin-bottom:330px;
    background: linear-gradient(rgb(88, 123, 139), rgb(46, 70, 80))
}

#one{
    top:30px;

}
.shelf{
    width:100%;
    top:620px;
    position:absolute;
    height:50px;
    background:gray;
    z-index: -1;
}

.shelf2{
    width:100%;
    top:1200px;
    position:absolute;
    height:50px;
    background:gray;
    z-index: -1;
}

#cgrade{
    position:relative;
    width:98%;
    margin:0px;
    height:auto;
    margin-bottom:350px;
}

@media screen and (max-width:350px) {
    .Wbody {
        top:221px;
    
    }
    #Wbody{
        margin-bottom:450px;
    }
}

@media screen and (max-width:650px) {
    .header{
        height:200px;
    }
}

@media screen and (max-width:390px) {
    .header{
        height:260px;
    }
}

@media screen and (min-width:1000px){
    #cgrade{
        margin-bottom:0px;
        height:100vh;
    }
}

@media screen and (max-width:450px){
    .cbody{
        top:250px;
    }
}

@media screen and (max-width:720px){
    .Rheaderimg{
        position:absolute;
        z-index:10000000000000000000000000000000000;
        left:40vw;
        top:110px;
    }
    .Rbody{
        margin-top:100px;
    }
}

@media screen and (max-width:563px) {
    .Rheaderimg{
        top:0px;
        right:0px;
    }
    .Rbody{
        margin-top:110px;
    }
}

@media screen and (max-width:965px){
    .tbody{
        margin-top:120px;

    }
}

@media screen and (max-width:540px){
    .theader{
        font-size:30px;
    }
    .tbody{
        margin-top:0px;
    }
}


@media only screen and (max-width:661px){
    .nheader{
        font-size:25px;
    }
    
    #one{
        font-size:20px;
        top:10px;
    }
}

